<header>
  <h1>Informationen</h1>
</header>
<article>
  <p>
    Diese Webseite soll es Geschäfte aus Jülich und Umgebung ermöglichen während der Covid19 Kriese, ihre
    Dienstleistungen weiter anzubieten.
  </p>
</article>
<br>

<header>
  <h2>Geschichte</h2>
</header>
<article>
  <p>
    Die Grund Idee stammt von <a href="https://www.facebook.com/raphael.becker.188" target="_blank">Raphael Becker</a>.
    Er hat in der Facebook Gruppe
    <a href="https://www.facebook.com/groups/259462464150129" target="_blank">Wir sind Jülich</a> nach einem Coder
    gefragt um dieses Projekt umzusetzen.
    <a href="https://www.facebook.com/raphael.becker.188" target="_blank">Raphael Becker </a> hat voresrt eine Google
    Tabele vorgeschlagen und umgesetzt. Nach kurzer Zeit ist
    <a href="https://www.facebook.com/vreezy.de/" target="_blank">Lars Eschweiler</a> dazu gestossen und hat diese auf Basis der gesammelten Daten,
    dieser Webseite erstellt.
  </p>
</article>
<br>

<!-- <header>
  <h2>FAQ Für Einträge in der Liste</h2>
</header>
<article>
  <p>
    Bei Whatsapp muss die Länder Kennung rein!<br>
    Beispiel: +49 152 5557912<br>
    Dabei nicht vergessen die führende 0 zu entfernen!<br>
    <br>
    Website:
    führendes https:// odet http:// muss vorhanden sein!
  </p>
</article>
<br> -->

<header>
  <h2>Open Website</h2>
</header>
<article>
  <p>
    Github: <a href="https://github.com/vreezy/covidJuelich"
      target="_blank">https://github.com/vreezy/covidJuelich</a><br>
    Wer will kann gerne mitarbeiten. Ich schalte die Person dann auf das GIT frei.<br>
    Eine Pipeline zum Automatischen Bereitstellen ist bereits eingerichtet.<br>
    <br>
    verwendete Technologien:<br>
    <a href="https://angular.io/" target="_blank">Angular 9</a><br>
    <a href="https://github.com/bpk68/g-sheets-api#set-up-a-google-sheet" target="_blank">g-sheets-api </a><br>
    <a href="https://ng-bootstrap.github.io/#/home" target="_blank">ng-bootstrap</a><br>
    <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a><br>
  </p>