<h1>Informationen</h1>
<p>
    Diese Webseite soll es Geschäfte aus Jülich und Umgebung ermöglichen während der Covid19 Kriese, ihre Dienstleistungen weiter anzubieten.
</p>

<h2>Beteiligte Personen</h2>
<p>
    Idee: <a href="https://www.facebook.com/raphael.becker.188" target="_blank">Raphael Becker </a> <br>
    <br>
    Daten: <a href="https://www.facebook.com/luehrs.sebastian" target="_blank">Sebastian Luehrs</a> <br>
    <br>
    Umsetzung: <a href="https://www.facebook.com/vreezy.de/" target="_blank">Lars Eschweiler</a><br>
    <br>
    Der Inhalt wird Aktuell von der Facebook Gruppe<a href="https://www.facebook.com/groups/259462464150129" target="_blank">"Wir sind Jülich"</a> betreut.
    Bitte schaut docht nach wie man die Daten Aktualisiert oder sich einträgt!
    <br>
</p>
    
<h2>FAQ einträge</h2>
<p>
    Bei Whatsapp muss die Länder Kennung rein!<br>
    Beispiel: +49 152 5557912<br>
    Dabei nicht vergessen die führende 0 zu entfernen!<br>
    <br>
    Website:
    führendes https:// odet http:// muss vorhanden sein!
</p>

<h2>Open Website</h2>
<p>
    Github: <a href="https://github.com/vreezy/covidJuelich" target="_blank">https://github.com/vreezy/covidJuelich</a><br>
    Wer will kann gerne mitarbeiten. Ich schalte die Person dann auf das GIT frei.<br>
    Eine Pipeline zum Automatischen Bereitstellen ist bereits eingerichtet.<br>
    <br>
    verwendete Technologien:<br>
    <a href="https://angular.io/" target="_blank">Angular 9</a><br>
    <a href="https://github.com/bpk68/g-sheets-api#set-up-a-google-sheet" target="_blank">g-sheets-api </a><br>
    <a href="https://ng-bootstrap.github.io/#/home" target="_blank">ng-bootstrap</a><br>
    <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a><br>

</p>

