<h1>Informationen</h1>

<p>
    Idee: <a href="https://www.facebook.com/raphael.becker.188" target="_blank">Raphael Becker </a> <br>
    <br>
    Daten: <a href="https://www.facebook.com/luehrs.sebastian" target="_blank">Sebastian Luehrs</a> <br>
    <br>
    Umsetzung: <a href="https://www.facebook.com/vreezy.de/" target="_blank">Lars Eschweiler</a><br>
    <br>
    Der Inhalt wird Aktuell von der Facebook Gruppe<a href="https://www.facebook.com/groups/259462464150129" target="_blank">"Wir sind Jülich"</a> betreut.
    Bitte schaut docht nach wie man die Daten Aktualisiert oder sich einträgt!
    <br>
</p>
    
<h2>FAQ einträge</h2>
<p>
    Bei Whatsapp muss die Länder Kennung rein!<br>
    Beispiel: +49 152 5557912<br>
    Dabei nicht vergessen die führende 0 zu entfernen!<br>
    <br>
    Website:
    führendes https:// odet http:// muss vorhanden sein!
</p>

<h2>Open Website</h2>
<p>
    Github: https://github.com/vreezy/covidJuelich<br>
    Wer will kann gerne mitarbeiten. Ich schalte die Person dann auf das GIT frei.<br>
    Eine Pipeline zum Automatischen Bereitstellen ist bereits eingerichtet.
</p>

