<h1>Kontakt</h1>

<p>
   Über folgende Wege können Sie den Seiten Betreiber Erreichen:<br />
</p>
<table>
    <tr>
        <td>Telegram (favorisierter Weg):</td>
        <td><a href="https://t.me/vreezy" target="_blank">https://t.me/vreezy</a></td>
    </tr>
    <tr>
        <td>Facebook:</td>
        <td><a href="https://www.facebook.com/vreezy.de" target="_blank">https://www.facebook.com/vreezy.de</a></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td><a href="mailto:lars@vreezy.de">lars@vreezy.de</a></td>
    </tr>
</table>



