<div class="website">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark topnav">
    <div class="container">
      <div class="row">
        <div class="col">
          <a class="navbar-brand" href="#/offer">Covid Jülich</a>
        </div>
      </div>

      <button class="btn d-lg-none d-xl-none" (click)="toggleSidebar()" *ngIf="!opened"><i class="ms-Icon ms-Icon--GlobalNavButton" aria-hidden="true" style="color: #ffffff"></i></button>
      <button class="btn d-lg-none d-xl-none" (click)="toggleSidebar()" *ngIf="opened" ><i class="ms-Icon ms-Icon--Cancel" aria-hidden="true" style="color: #ffffff"></i></button>
 
      <div class="d-none d-lg-block d-xl-block">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/offer" routerLinkActive="active" href="#">Angebote</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/search" routerLinkActive="active" href="#">Suche</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active" href="#">Eintragen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/information" routerLinkActive="active" href="#">Informationen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active" href="#">Kontakt</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="alert alert-warning" role="alert" *ngIf="!isNewUrl()">
    <div class="container">
      <i class="ms-Icon ms-Icon--Info" aria-hidden="true" ></i> Bitte aktualisieren Sie ihre Bookmarks auf <a href="https://www.covid-jülich.de" class="alert-link">https://www.covid-jülich.de</a>.
    </div>
  </div>

  <div class="alert alert-primary" role="alert">
    <div class="container">
      <table>
        <tr>
          <td><img src="assets/twHeader.png" alt="twitch talks"></td>
          <td> Lasst uns gemeinsam über die Zukunft von https://covid-jülich.de/ reden. Ich lade da zu Herzlich am Donnerstag den 30.4.2020 um 19Uhr auf meinen Twitch Kanal ein -> <a href="https://www.twitch.tv/vreezyde" target="_blank">https://www.twitch.tv/vreezyde</a></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="main" *ngIf="opened">
    <div class="handymenu">
      <ul class="navbar-nav">
        <li class="nav-item handyitem">
          <a class="nav-link" class="btn btn-primary btn-lg btn-block" routerLink="/offer" routerLinkActive="active" href="#" (click)="toggleSidebar()">Angebote</a>
        </li>
        <li class="nav-item handyitem">
          <a class="nav-link" class="btn btn-primary btn-lg btn-block" routerLink="/search" routerLinkActive="active" href="#" (click)="toggleSidebar()">Suche</a>
        </li>
        <li class="nav-item handyitem">
          <a class="nav-link" class="btn btn-primary btn-lg btn-block" routerLink="/register" routerLinkActive="active" href="#" (click)="toggleSidebar()">Eintragen</a>
        </li>
        <li class="nav-item handyitem">
          <a class="nav-link" class="btn btn-primary btn-lg btn-block" routerLink="/information" routerLinkActive="active" href="#" (click)="toggleSidebar()">Informationen</a>
        </li>
        <li class="nav-item handyitem">
          <a class="nav-link" class="btn btn-primary btn-lg btn-block" routerLink="/contact" routerLinkActive="active" href="#" (click)="toggleSidebar()">Kontakt</a>
        </li>

      </ul>
    </div>

  </div>

  <div class="main" *ngIf="!opened">
    <div class="container">
      <br><br>
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer class="footer">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <div class="row">
          <div class="col">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" routerLink="/impressum" routerLinkActive="active" href="#">Impressum</a>
              </li>

            </ul>
          </div>
        </div>
      </div>

    </nav>
  </footer>
</div>