
body {
    overflow: scroll;
}
.website {
    // border: 6px solid red;
    min-height: 100%;
    max-width: 100vw;
    display: grid;
    // grid-template-rows: auto auto auto;

}

// .topnav {
//     // border: 6px solid blue;
// }

.main {
    min-height: 92vh;
    max-width: 100vw;
    // border: 6px solid green;
    -webkit-animation: fadein 0.5s normal; /* Safari 4+ */
    -moz-animation:    fadein 0.5s normal; /* Fx 5+ */
    -o-animation:      fadein 0.5s normal; /* Opera 12+ */
    animation:         fadein 0.5s normal; /* IE 10+, Fx 29+ */
    
}

.footer {
    border-top: 20px solid #777777;
    // border: 6px solid #8900b3;
    width: 100%;
    align-self: end;

}

.handymenu {
    padding: 6%;
}

.handyitem {
    margin-bottom: 4px;
}


td {
    padding: 10px;
}

@keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}




