<header>
    <h1>Willkommen!</h1>

    <p>
        Auf Grund von Gesetzes Lockerungen und einbrechenden Besucher Zahlen habe ich mich entschieden dieses Projekt einzustellen.
        Sollte es wieder von Nöten sein, werde ich überlegen die Webseite wieder Online zu schalten.<br />
        <br />
        Benutzt bitte die anderen Seiten falls ihr Online Werbung für euch machen möchtet.
        <a href="https://dueren-handelt.de/kreisdueren/juelich" target="_blank">dueren-handelt.de</a><br/>
        <br />
        Bleibt gesund<br/>
        Lars 'vreezy' Eschweiler
    </p>
  </header>
