<article>
  <h1>Eintragen</h1>
  <p>
    Unter folgenden Links können Sie sich eintragen:<br>
    <br>
  </p>
  <div class="container">
    <div class="row justify-content-around">
      <div class="col">
        <div class="showtron">
          <h2>Angebot</h2>

          <a class="btn btn-primary btn-lg btn-block"
            href="https://docs.google.com/forms/d/e/1FAIpQLSfOeNAvJ3HSjySdgRfHtuBCrg5doU9FfdvdsFY33OMthSDd1Q/viewform?usp=sf_link"
            target="_blank">Angebot Eintragen</a><br>
          z.B. Für Lieferdienste<br>
        </div>

      </div>

      <div class="col">
        <div class="showtron">
          <h2>Suche</h2>
          <a class="btn btn-primary btn-lg btn-block"
            href="https://docs.google.com/forms/d/e/1FAIpQLSdmC1mJbio4maoAI1NKx11VpyLybpI_ERFcK4mvRC0Xj_EfPQ/viewform?usp=sf_link"
            target="_blank">Suche Eintragen</a><br>
          z.B. Sie Suchen Mitarbeiter<br>
        </div>
      </div>
    </div>

  </div>

  <br>
  <p>

    <br>
    Hinweis: Öffnen Sie den Link erneut um ihr Daten Nachträglich zu Bearbeiten.<br>
    Beachten Sie bitte das es schon mal zu verzögerung kommt zwischen Eintragung und Veröffentlichung.<br>
    Denken Sie auch dran die Seite neu zu laden!<br>
    Sie müssen auf der ersten Seite des Formulars Aktiv auf Ja setzen.<br>
    <br>
    Wenn Sie mit den Formularen nicht zurecht kommen, können Sie mir auch eine Email schicken: <a
      href="mailto:lars@vreezy.de">lars@vreezy.de</a>.


  </p>
</article>
<article>
  <h1>Andere Seiten</h1>
  <p>
    Tragt euch bitte auch auf den anderen Seiten ein!<br />
    <br />
    <a class="btn btn-primary btn-lg " href="https://dueren-handelt.de/kreisdueren/juelich/"
      target="_blank">dueren-handelt.de</a><br>

  </p>
</article>
<article>
  <h1>Austragen</h1>
  <p>
    Einige Benutzer haben bereits einträge erstellt. Wenn Sie nicht länger möchten das diese einträge Angezeigt werden
    Kontaktieren sie mich bitte:<br>
    <br>
    <a href="mailto:lars@vreezy.de">lars@vreezy.de</a><br>
    <br>
    Hinweis: Ihre selbst erstellten Beiträge können Sie mit Links weiter oben Deaktivieren indem Sie "Aktiv" auf Nein
    setzen.<br>
  </p>
</article>